<mat-grid-list cols="2">
  <mat-grid-tile>
    <div class="inputCard">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><h2>Autodesk Forge model loader</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <form [formGroup]="form" novalidate>
            <mat-form-field class="full-width">
              <input matInput placeholder="App ID" formControlName="appId">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Enter app secret" [type]="hide ? 'password' : 'text'"
                     formControlName="secret">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Bucket name" formControlName="bucketName" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let bucket of buckets" [value]="bucket.bucketKey">
                  {{ bucket.bucketKey }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Bucket type" formControlName="bucketType">
                <mat-option value="transient">Transient</mat-option>
                <mat-option value="temporary">Temporary</mat-option>
                <mat-option value="persistent">Persistent</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="fileInput">
              <input matInput placeholder="File" formControlName="file">
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="fileInput.click()">
              <i class="material-icons">file_upload</i>
              <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;"/>
            </button>

            <mat-form-field class="fileInput">
              <input matInput placeholder="URN" formControlName="urn" #urn>
            </mat-form-field>
            <button mat-raised-button color="accent"
                    [ngxClipboard]="urn" (cbOnSuccess)="copyUrn()">
              <i class="material-icons">content_copy</i>
            </button>
          </form>

          <div *ngIf="showProgress">
            <mat-progress-bar [mode]="mode"></mat-progress-bar>
            {{status}}
          </div>

        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="accent" (click)="loadModel()">Load</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div style="width: 100%;height: 100%;">
      <app-viewer></app-viewer>
    </div>
  </mat-grid-tile>
</mat-grid-list>

